{% extends 'layout.html' %}

{% block content %}
<!--This file is the interface for adding books to the planned book table-->
<div class="new-book-form"> 
    <form method="POST">
        <p id="error-text">{{error}}</p>
        <div class="section">
            <label for="book-name"><h2>Book Name</h2></label>
            <input type="text" class="form-input" id="book-name" name="book_name">
        </div>
        <input type="submit" value="Add Book" class="form-button" id="new-book-submit"> 
    </form> 
    <a href="{{url_for('planned.future_books')}}"><button class="page-button">Back</button></a>
</div>
{% endblock%}