{% extends 'layout.html' %}

{% block content %}
<!--This file is the interface that moves a book from planned to current for a new book that has not been read yet-->
<div class="new-book-form"> 
    <form method="POST" action="{{url_for('planned.submitstartedbook')}}">
        <p id="error-text">{{error}}</p>
        <div class="section">
            <label for="book-name"><h2>Book Name</h2></label>
            <input type="text" class="form-input" id="book-name" name="book_name" value="{{ book }}" readonly>
        </div>
        <div class="section">
            <label for="num-pages"><h2>Number of Pages</h2></label>
            <input type="text" class="form-input" id="num-pages" name="num_pages" required>
        </div>
        <div class="section">
            <label for="days"><h2>Days to Complete</h2></label>
            <input type="text" class="form-input" id="days" name="days" required>
        </div>
        <input type="submit" value="Add Book" class="form-button" id="new-book-submit"> 
    </form> 
    <a href="{{url_for('planned.future_books')}}"><button class="page-button">Back</button></a>
</div>
{% endblock%}