body {
  background-color: #0E0E0E;
  margin-top:0px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 5px;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
}
#search-box {
  display: flex;
  position:fixed;
  top:0px;
  left:0px;
  background-color: #1c1c1c;
  width:100%;
  height:60px;
  align-items: center;
}
#search-bar, #search-btn{
  background-color: #141414;
  color:#adadad;
  border: 1px solid #2c2c2c;
  box-shadow: none;
  border-radius: 5px;
}
#search-bar{
  width: 400px;
  height: 40px;
  margin: 10px;
  margin-right:0px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px transparent;
  transition: none;
}
#search-btn:hover {
  color: #ffffff;
}

#menu-toggle, #search-btn{
  width:40px;
  height:40px;
  align-self: center;
  align-content: center;
  padding:10px;
}
#menu-toggle{
  color:#ffffff;
  margin-left:150px;
  border: transparent 1px;
}
#search-btn{
  margin:0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px transparent;
  line-height: 1.42857143;
  text-align: center;
  font-size: 14px;
}
#logout-btn {
  border-radius: 5px;
  width:100px;
  color:#ffffff;
  background-color: #1686be;
  transition:none;
}
h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  margin-top: 20px;
  padding: 5px;
  color: wheat;
}
.container {
  display:flex;
  flex-direction: column;
  max-width: 800px;
  height:300px;
  background-color: #7a7a7a33;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin:30px auto;
}
.container > form > p {
  color: #c0392b;
  background-color: white;
  padding: 5px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}
form{
  display:flex;
  flex-direction: column;
}
input, select {
  padding: 10px;
  margin:10px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
.leftalign {
  display:flex;
  margin:10px;
}
.rightalign {
  display:flex;
  margin:10px;
  margin-left: auto;
}
#logo {
  max-height: 40px;
  margin:10px;
}