{% extends 'layout.html' %}



{% block heading %}

{% endblock %}

{% block content %}
<div class="new-book-form">
    <form method="POST">
        <div class="section">
            <label for="book-name"><h2>Book Name</h2></label>
            <input type="text" class="form-input" id="book-name" name="book-name">
        </div>
        <div class="section">
            <label for="num-pages"><h2>Number of Pages</h2></label>
            <input type="text" class="form-input" id="num-pages" name="num-pages">
        </div>
        <div class="section">
            <label for="days"><h2>Days to Complete</h2></label>
            <input type="text" class="form-input" id="days" name="days">
        </div>
        <input type="submit" value="Add Book" class="form-button" id="new-book-submit"> 
        <a href="{{url_for('book.addbook')}}"><button class="form-button">Home</button></a>
    </form> 
</div>
{% endblock%}