{% extends 'layout.html' %}



{% block heading %}

{% endblock %}

{% block content %}
<div class="container" id="data-table">
    <table class="styled-table" id="data-table-head">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Total Pages</th>
                <th>Pages Per Day</th>
                <th>Days Left</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="table-content">
        <table class="styled-table" id="data-table-body">
            {% for book in books %}
                <tr>
                    <td>{{ book[0] }}</td>
                    <td>{{ book[1] }}</td>
                    <td>{{ book[1] }}/{{ book[2] }}</td>
                    <td>{{ book[2] }}</td>
                    <td><button id="delete-book-btn" onclick="deleteBook(book[0])">Delete</button></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    function deleteBook(book_name){
        
    }
</script>
<a href="{{url_for('book.addbook')}}"><button>Add Book</button></a>
{% endblock %}