<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div id="searchbox">
      <div class="leftalign">
        <a href="{{url_for('home')}}"><img id="logo" src="https://animixplay.to/assets/logo.png"></a>
        <input id="searchbar" class="form-control" autocomplete="off" type="text" placeholder="Search">
      </div>
      <div class="rightalign"><a href="{{url_for('logout')}}"><button id="signinbtn" class="btn">Logout</button></a></div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>