{% extends 'layout.html' %}

{% set page_title="Login" %}

{% block content %}
    <br>
    <br>
    <h1>Login</h1>
    <div class="container">
        <form method="POST" action="{{url_for('login_page')}}">
            <p>{{error}}</p>
            <input type="text" name="username" autocomplete="off" placeholder="Username" required>
            <input type="password" name="password" autocomplete="off"  placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>

    <h1>Sign up</h1>
    <div class="container">
        <form method="POST" action="{{url_for('signup')}}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm-password" placeholder="Confirm Password" required>
            <input type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}