{% extends 'layout.html' %}

{% block heading %}

{% endblock %}


{% block content %}
<div class="book-page">
    <h1>Plan to Read</h1>
<div class="container" id="data-table">
    <table class="styled-table" id="data-table-head">
        <thead>
            <tr>
                <th>Book Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="table-content">
        <table class="styled-table" id="data-table-body">
            {% for book in books %}
                <tr>
                    <td>{{ book[0] }}</td>
                    <td><a href="" onclick="document.getElementById('start_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('planned.startbook')}}" id="start_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="hidden" value="{{book[1]}}" name="page-count"><input type="button" value="Start"></form></a></td>
                    <td><a href="" onclick="document.getElementById('delete_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('planned.deletebook')}}" id="delete_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="button" value="Delete"></form></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div> 
<a href="{{url_for('home')}}"><button class="page-button">Home</button></a>
<a href="{{url_for('planned.addbook')}}"><button class="page-button">Add Book</button></a>
</div>
{% endblock %}