{% extends 'layout.html' %}



{% block heading %}

{% endblock %}

{% block content %}
<script>
    iteration = 0
    function calculatePages(){
        iteration++;
        console.log(iteration);

        page_text="pages-left"+(iteration);
        day_text="days-left"+(iteration);

        pages=document.getElementById("pages-left"+iteration).value;
        days=document.getElementById("days-left"+iteration).value;
        $("#pages-per-day"+iteration).text(Math.round(pages/days));
    }
</script>

<div class="book-page">
<div class="container" id="data-table">
    <table class="styled-table" id="data-table-head">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Pages Left</th>
                <th>Pages Per Day</th>
                <th>Days Left</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="table-content">
        <table class="styled-table" id="data-table-body">
            {% for book in books %}
                <tr>
                    <input type="hidden" value="{{book[1]}}" id="pages-left{{loop.index}}">
                    <input type="hidden" value="{{book[2]}}" id="days-left{{loop.index}}">
                    <td>{{ book[0] }}</td>
                    <td>{{ book[1] }}</td>
                    <td id="pages-per-day{{loop.index}}"><script>calculatePages()</script></td>
                    <td>{{ book[2] }}</td>
                    <td><a href="" onclick="document.getElementById('completed_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('book.completebook')}}" id="completed_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="button" value="Completed"></form></a></td>
                    <td><a href="" onclick="document.getElementById('delete_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('book.deletebook')}}" id="delete_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="button" value="Delete"></form></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div> 
<a href="{{url_for('home')}}"><button class="page-button">Home</button></a>
<a href="{{url_for('book.addbook')}}"><button class="page-button">Add Book</button></a>
</div>
{% endblock %}