{% extends 'layout.html' %}

{% block content %}
<!--This is the main interface for the currently reading books-->

<!--This script tag provides functions to calculate the data in the display table-->
<script>
    itr1 = 0;
    itr2 = 0;
    function calculatePagesPerDay(){
        itr1++;

        pages=document.getElementById("total-pages"+itr1).value;
        days=document.getElementById("days-left"+itr1).value;
        $("#pages-per-day"+itr1).text(Math.round(pages/(days)));
    }
    function calculatePages(){
        itr2++;

        total=document.getElementById("total-pages"+itr2).value;
        pages=document.getElementById("pages-read"+itr2).value;
        $("#pages-left"+itr2).text(total-pages);
    }
</script>

<div class="book-page">
    <h1>Currently Reading</h1>
<div class="container" id="data-table">
    <table class="styled-table" id="data-table-head">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Pages Left</th>
                <th>Pages Per Day</th>
                <th>Days Left</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="table-content">
        <table class="styled-table" id="data-table-body">
            {% for book in books %}
                <tr>
                    <!--These hidden values are passed when a button is clicked so data can properly be edited in the python files-->
                    <input type="hidden" value="{{book[1]}}" id="total-pages{{loop.index}}">
                    <input type="hidden" value="{{book[2]}}" id="pages-read{{loop.index}}">
                    <input type="hidden" value="{{book[3]}}" id="days-left{{loop.index}}">
                    <td>{{ book[0] }}</td>
                    <!--Calls the functions to display the manipulated data-->
                    <td id="pages-left{{loop.index}}"><script>calculatePages()</script></td>
                    <td id="pages-per-day{{loop.index}}"><script>calculatePagesPerDay()</script></td>
                    <td>{{ book[3] }}</td>
                    <!--These buttons submit a form with an action that calls a function from a python file and sends data via hidden input tag with the value equal to the data needed-->
                    <td><a href="" onclick="document.getElementById('completed_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('book.completebook')}}" id="completed_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="button" value="Track"></form></a></td>
                    <td><a href="" onclick="document.getElementById('delete_form{{loop.index}}').submit(); return false;"><form method="POST" action="{{url_for('book.deletebook')}}" id="delete_form{{loop.index}}"><input type="hidden" value="{{book[0]}}" name="book_name"><input type="button" value="Delete"></form></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div> 
<a href="{{url_for('home')}}"><button class="page-button">Home</button></a>
<a href="{{url_for('book.addbook')}}"><button class="page-button">Add Book</button></a>
</div>
{% endblock %}